body{
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  font-size: 15px;
  line-height: 1,6;
  color: rgb(255, 255, 255);
}

h1{
  margin: 0;
}

*,p,
*:before,
*:after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
 
/*container*/
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/*Фон*/
.intro{
  width: 100%;
  height: 100vh;
  background: url("../IMG/1.jpg") center no-repeat;
    background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_inner{
  padding-top: 100px;
  width:100%;
  max-width: 780px;
  margin: 0 auto;
}

.intro_title{
 font-size: 50px;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
 line-height: 1.3;
 font-family: 'Roboto', sans-serif;
}

.intro_subtitle{
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  color:white;
  font-family:'Roboto', sans-serif;
  text-align: center;
}

.intro_table{
  display: flex;
  justify-content: space-between;
  font-family:'Roboto', sans-serif;
  font-weight: 510;
}

.intro_table_item {
  text-align: center;
  margin-top: 60px;
  width: 25%;
  padding: 10px 0;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}

.intro_zakaz{
padding-top: 50px;
width: 100%;
}

.intro_inline_form form{
  font-size: 0;
}


.wrap_input {
  width: 33%;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.form-control {
  padding: 0 0 0 50px;
  height: 55px;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid white;
  color:white;
  padding-left: 65px;
  display: block;
  width: 80%;
  line-height: 1.4;
  box-shadow: inset 0 1px 1px rgb(0,0,0/8%);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input_name {
  background: url(../IMG/man.png) no-repeat left 15px center;
}

.input_tel {
  background: url(../IMG/tel.png) no-repeat left 15px center;
}

.btn{
  max-width: 320px;
  width: 100%;
  height: 55px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  background-color: #ffda44;
  border-radius: 5px;
    display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transition;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.4;
  user-select: none;
}

.header{
 padding-top: 25px;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 z-index: 1000;
}

.header_inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header_logo{
  font-size: 45px;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.479);
  }

.nav{
  font-size: 13px;
  text-transform: uppercase;
}

.nav_link {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none ;
  transition: color .2s linear;
}


.nav_link:after {
  content: "";
  display: block;
  width:100%;
  height: 3px;
  opacity: 0;
  background-color: rgb(255, 0, 0, 0.479);
  position: absolute;
  top:100%;
  left:0;
  z-index: 1;
  transition: opacity .2s linear;
}

.nav_link:hover {
  color: rgb(255, 0, 0, 0.479);
}

.nav_link:hover:after {
  opacity: 1;
}

.section1{
  padding: 20px 0;
  display: block;
  color: black;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
}

.col{
  width:100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.section_header{
  position: relative;
}

.section_header h2{
  font-size: 35px;
  color:black;
  text-transform:uppercase;
  font-family:'Roboto', sans-serif;
  text-align: center;
}

.wrap_main_tab_nav{
  padding: 0 0 50px;
  text-align: center;
}

.wrap_main_tab_nav p {
  color:black;
  font-size: 22px;
}

.wrap_main_tab_nav .nav-tabs{
  display: inline-block;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

li {
  text-align: -webkit-match-parent;
}

ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


.nav { 
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  position: relative;
  display: block;
  list-style: none;
}

.nav>li{
  position: relative;
  display: block;
}

.nav-tabs>li{
  float: left;
  margin-bottom: -1px;
}

.wrap_main_tab_nav .nav-tabs>li>a:hover,
.wrap_main_tab_nav .nav-tabs>li.active>a,
.wrap_main_tab_nav .nav-tabs>li.active>a:hover {
background-color: #f4d144;
    color: #fff;
    background-image: linear-gradient(267deg, rgba(255, 200, 22, 0.3) 0%, rgba(238, 89, 24, 0.3) 100%);
}

.wrap_main_tab_nav .nav-tabs>li:first-child>a {
  border-radius: 3px 0 0 3px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
  border: 0;
  background:transparent;
}

.wrap_main_tab_nav .nav-tabs>li>a{
  border: 0;
  background:transparent;
  margin: 0;
  color:black;
  border-radius: 0;
  width: 176px;
  font-size: 16px;
  transition: .4s;
}

.nav-tabs>li.active>a{
  cursor:default;
}

.nav-tabs>li>a{
  line-height: 1.42;
  margin: 0;
  background: transparent;
}

.nav>li>a{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 0;
}

a{
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

.wrap_main_tab_nav .nav-tabs>li:last-child>a {
  border-radius: 0 3px 3px 0;
}

/*Таблица*/
.tab-content>.active {
  display: block;
}

.tab-content>.tab-pane {
  display: none;
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.wrap_in_nav {
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.wrap_in_nav span {
  font-size: 18px;
}

.wrap_in_nav .nav-tabs {
  padding-left: 20px;
  display: inline-block;
  border: 0;
  vertical-align: middle;
}

.wrap_in_nav .nav-tabs li {
  padding: 0 5px;
  float: none;
  display: inline-block;
}

.wrap_in_nav .nav-tabs li a:hover, .wrap_in_nav .nav-tabs li.active a {
  border: 2px solid #faa817;
  background: #fff;
  color: #eb4918;
}

.wrap_in_nav .nav-tabs li a {
  font-size: 16px;
  padding: 3px 10px;
}

.wrap_in_nav .nav-tabs li a {
  font-family:'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-size: 16px;
  color: #303030;
  padding: 5px 15px;
  padding: 5px 5px;
  border: 2px solid transparent;
  border-radius: 17px;
  position: relative;
}

.content_in{
  font-size: 0;
  padding: 30px 0 0;
}

.service{
  font-size: 14px;
  width: 50%;
  color: #787878;
  vertical-align: top;
  display: inline-block;
  padding: 15px 30px 15px 28px;
  border: 1px solid #eee;
  border-left: 0;
  position: relative;
  margin-top: -1px;
  transition: .4s;
}

.service p {
  position: relative;
  padding-right: 70px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.service p i {
  font-style: normal;
}

.service p>span {
  color: #242424;
  position: absolute;
  right: 0;
  top: 0;
  font-family:'Roboto', sans-serif;
  font-weight: 900;
}

.service a {
  position: absolute;
  display: block;
  text-align: right;
  color: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.service a>span {
  position: absolute;
  top: 50%;
  right: 15px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-caret-right:before {
  content: "\f0da";
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  position: relative;
}

.modal_st_detal {
  max-width: 555px;
  width: 100%;
}

.modal-content {
  border-radius: 0;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

button.close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1px;
  height: 28px;
  width: 28px;
  opacity: 1;
  background: url(../img/close.png) no-repeat;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}

button {
  overflow: visible;
  margin: 0;
  font: inherit;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  display: inline-block;
  text-align: center;
  align-items:flex-start;
}
  .modal_content_detailed {
    line-height: 1.2;
    text-align: left;
}

.info_model2 {
  padding: 40px 15px;
  background-color: #0bf;
  background-image: linear-gradient(to top, #b2547e 0%, #6986ea 100%);
}

.info_model_h4 {
  font-family: "RobotoLight";
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 5px;
}

.info_model_h3 {
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  font-family: "RobotoBold";
  padding-bottom: 15px;
}

.result_price {
  padding-top: 25px;
  font-size: 0;
  color: #ffffff;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.span_price {
  display: inline-block;
  font-size: 32px;
  font-family: "RobotoBold";
  padding-right: 18px;
  vertical-align: middle;
}

.span_text {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 7px;
  text-align: left;
  line-height: 1.2;
  position: relative;
}

.wrap_steps_services {
  padding: 30px 50px;
}

.wrap_steps_services>p {
  color: #242424;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}


/*........................................Каталог*/
.block_accesory {
  background-color: #000000;
  overflow: hidden;
  height: 200px;
  text-align: center;
}

.container{
  width:100%;
  margin-right: auto;
  margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix:before, .container:before{
  content: " ";
  display: table;
}

.clearfix:after, .container:after{
  clear: both;
  content:" ";
  display: table;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
}

.row:before{
  content: " ";
  display: table;
}

.row:after{
  clear: both;
  content:" ";
  display: table;
}

.col-md-offset-2 {
  margin-left: 16.66666667%;
}

.col-md-2 {
  width: 16.66666667%;
  float: left;
}

.col-xs-1, .col-sm-2, .col-md-2, .col-sm-4, .col-xs-12{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  width: 100%;
  float: left;
}

.col-sm-4{
  width: 33.33333333%;
  float: left;
}

.block_accesory_image {
  position: relative;
}

.block_accesory_image img {
  height: 150px;
  width: auto;
  position: absolute;
  top: 16px;
  left: 0;
}

img {
  vertical-align: middle;
  border: 0;
}

.block_accesory_title {
  display: table-cell;
  vertical-align: middle;
  width: 33%;
  font-weight: 400;
  text-align: center;
  color: #fff;
  height: 200px;
  line-height: 1.2;
  font-size: 40px;
}

.block_accesory_link {
  height: 200px;
  line-height: 200px;
  padding: 17px 26px;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  background-color: #ffda44;
  border-radius: 5px;
}

.hot-offer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 95px 0 69px;
  overflow: hidden;
}

.hot-offer p {
  color: #303030;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "RobotoBold";
  text-align: center;
  line-height: 1.1;
  margin-bottom: 30px;
}

.hot_block_item {
  background-color: #fff;
  text-align: center;
  padding: 20px 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

.hot_block_item_image {
  max-height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 25px 0;
}

a {
  color: #428bca;
  text-decoration: none;
  background-color: transparent;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hot_block_item_description {
  font-size: 18px;
  padding: 0 25px;
  height: 100px;
  color:black;
}

.hot_block_item_description p {
  font-weight: bold;
}

.hot_block_item_price {
  font-weight: 700;
  float: left;
  font-size: 24px;
  padding: 4px 0;
}

p {
  margin: 0 0 10px;
}

.service-block {
  padding: 85px 0;
  background-color: #1F2124;
  position: relative;
}

.service-block:after {
  content: '';
  position: absolute;
  background: url(../images/services-back.png) center right no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: -1;
}

.service-block h2 {
  padding-bottom: 55px;
  line-height: 1;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.service-block_item {
  min-height: 200px;
  text-align: center;
}

.service-block_item .icon {
  min-height: 60px;
}

.service-block .note {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 15px;
  color: #fff;
}

.section10 {
  position: relative;
  padding: 93px 0 96px;
  min-height: 432px;
  display: block;
}

.section10 .map-iframe {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
}

.contact_map {
  max-width: 400px;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(255,255,255,.8);
  top: 20px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  padding: 20px;
  color:black;
}

.contact_map h2,p {
  margin: 0;
}

.section11 {
  position: relative;
  padding-top: 94px;
}

.videoBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.dark_bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  background: url(../img/fon_sploshnoy_fioletovyy_65808_1920x1080.jpg) no-repeat top center;
  background-size: cover;
  background-color:black;
}

.title_section3 {
  position: relative;
  padding-bottom: 30px;
}

.title_section3 p {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
}

.wrap_tel_content {
  max-width: 630px;
  margin: 0 auto;
  padding: 65px 0 51px;
}

#contacts .wrap_tel_header {
  width: 50%;
  float: left;
}

.wrap_tel_header {
  position: relative;
  padding-left: 50px;
  color: #f2f3f3;
  font-size: 16px;
  white-space: nowrap;
  float: left;
}

.wrap_tel_header img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 34px;
  height: 34px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

#contacts .wrap_tel_header a {
  font-size: 26px;
}

.wrap_tel_header a {
  color: #f2f3f3;
  font-size: 18px;
  font-family: "RobotoBold";
  white-space: nowrap;
}

#contacts .wrap_tel_header + .wrap_tel_header {
  margin: 0;
}

#contacts .wrap_tel_header {
  width: 50%;
  float: left;
}
footer {
  padding: 22px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

footer .wrap_logo {
  width: 60%;
}

.wrap_logo {
  float: left;
  font-size: 20px;
}

.footer__contact-company {
  font-size: 14px;
  color:white;
}

/*Цены*/

.prices__list {
  display: block;
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  -webkit-box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
  box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
}

.prices__list tbody {
  width: 100%;
  display: block;
}

.prices__list tr {
  display: flex;
  width: 100%;
}

.prices__list td:nth-child(1) {
  font-size: 22px;
  width: 80%;
}

.prices__list td {
  padding: 5px;
}

.prices__list td:nth-child(2) {
  font-size: 20px;
  text-align: right;
  width: 20%;
}

.prices__list td {
  padding: 5px;
}

.prices__list td:nth-child(2) span {
  font-weight: 500;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.prices__list tr:nth-child(even) {
  background: #000000;
  color: #fff;
}

td {
  display: table-cell;
  vertical-align: inherit;
  text-align: left;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
/* Для планшетов и устройств с маленькими экранами */
@media only screen and (max-width: 768px) {
  /* Примеры изменений стилей */
  .header_inner {
    flex-direction: column; /* Поместить логотип и навигацию в столбец */
  }
  
  .nav.navigation {
    flex-direction: column; /* Поместить ссылки навигации в столбец */
    align-items: center; /* Выровнять ссылки по центру */
  }
  
  .intro_title {
    font-size: 24px; /* Уменьшить размер заголовка */
  }
  
  .intro_subtitle {
    font-size: 16px; /* Уменьшить размер подзаголовка */
  }
  
  .intro_table {
    flex-direction: column; /* Поместить таблицу в столбец */
  }
  
  .intro_table_item {
    margin-bottom: 20px; /* Увеличить расстояние между элементами */
  }
}

/* Для мобильных устройств */
@media only screen and (max-width: 480px) {
  /* Примеры изменений стилей */
  .intro_title {
    font-size: 20px; /* Еще больше уменьшить размер заголовка */
  }
  
  .intro_subtitle {
    font-size: 14px; /* Еще больше уменьшить размер подзаголовка */
  }
  
  .intro_table_item img {
    width: 40px; /* Уменьшить размер иконок в таблице */
    height: 40px;
  }
  
  .intro_table_item p {
    font-size: 12px; /* Уменьшить размер текста в таблице */
  }
}
